{% extends 'base.html.twig' %}


{% block title %}Modifier une tache{% endblock %}

{% block content %}
  <h1 >Modifier une tache</h1>
  <form action="{{ path('todo_update', { 'name': name, 'content': content }) }}" method="post" >
    <input type="hidden" name="old_name" value="{{ name }}">
    <input type="text" name="new_name" value="{{name}}" >
    <input type="text" name="content" value="{{content}}">
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>

  {% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
  {% endfor %}


  {% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endfor %}

  <a href="{{ path('todo') }}" class="btn btn-secondary">Retour ◀️  </a>

{% endblock %}