{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre{% endblock %}

{% block content %}
  <div class="col-md-8">
    {{ form_start(form) }}
    <div class="form-group mb-5">
      {{ form_label(form.ref) }}
      {{ form_widget(form.ref) }}
      {{ form_errors(form.ref) }}
    </div>
    <div class="form-group mb-5">
      {{ form_label(form.title) }}
      {{ form_widget(form.title) }}
      {{ form_errors(form.title) }}
    </div>
    <div class="form-group mb-5">
      {{ form_label(form.nbrPages) }}
      {{ form_widget(form.nbrPages) }}
      {{ form_errors(form.nbrPages) }}
    </div>
    <div class="form-group mb-5">
      {{ form_label(form.picture) }}
      {{ form_widget(form.picture) }}
      {{ form_errors(form.picture) }}
    </div>
    <div class="form-group mb-5">
      {{ form_label(form.author) }}
      {{ form_widget(form.author) }}
      {{ form_errors(form.author) }}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add Livre</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
