<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
</head>
<body>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home')}}"> 🎼 Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('produit') }}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('todo') }}" > 🟢 Todo in french 🟢</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('show.authors') }}" > 📚 Les auteurs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>